<body>

<div class="container">
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile' %>

		<h2>New book</h2>
		<%= render 'books/newform' %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@userbook.user_id) do %>
						<%= attachment_image_tag(@userbook.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @user.name %>
						<% end %>
					</td>
					<td><%= link_to @userbook.title, @book %></td>
					<td><%= @userbook.body %></td>
 <!-- いいね機能 -->
        <td>
           <% if @userbook.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book_id:@userbook.id), method: :delete do %>
              <%#= fa_icon "heart", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart"><%= @userbook.favorites.count%></span>
            <% end %>
          <% else %>
						<%= link_to book_favorites_path(book_id:@userbook.id), method: :post do %>
              <%#= fa_icon "heart-o", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart-empty"><%= @userbook.favorites.count %></span>
            <% end %>
          <% end %>
        </td>
        <td>コメント数：<%= @userbook.book_comments.count %></td>

					<%if current_user == @user %>
					<td><%= link_to "Edit",edit_book_path(@userbook), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",book_path(@userbook), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>
			<table class="show-tb">
      <% @book_comments.each do |book_comment| %> <!-- コメント一覧 -->
        <tr>
          <td>
            <%= link_to user_path(book_comment.user), class: "user_#{book_comment.user.id}" do %>
              <%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
              <%= book_comment.user.name %>
            <% end %>
          </td>
          <td><%= book_comment.comment %></td>
          <% unless current_user != book_comment.user %>
            <td><%= link_to 'Destroy', book_book_comments_path(book_comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="comment-form">
      <%= form_for [@userbook, @book_comment] do |f| %>
        <%= f.text_area :comment, size: "90x5" %>
        <%= f.submit '送信' %>
      <% end %>
    </div>

	</div>

</div>
</div>

</body>